<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HomePage</title>
  <style>
      body{background-color: skyblue}
      h1{color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; size: 50dp}
  </style>

</head>
<body>
<h1>
    The messahge is being changed again <%= name %>
</h1>
</body>
</html>