<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HomePage</title>
  <style>
      body{background-color: skyblue}
      p{color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; font-size: 20px}
  </style>

</head>
<body>
    <p>
        This is just a simple message from admin to <%= name %>
    </p>
</body>
</html>